/* responsive ვერ მოვასწარი */


@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.hidden{
    display:none !important;
}

.error{
    border: 2px solid red;
}

.error-msg{
    gap:0;
}

.error-msg::after{
    content: "cant be blank";
    color: white;
    margin-top:3.2px ;
}

.container{
    display: flex;
    align-items: center;
}

.left-section{
    min-height:100vh;
    width: 40%;
    background-image: url("./images/bg-main-desktop.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.cards{
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap:32px;
    left:100%;
    transform: translate(-50%, -50%);
}

.front-card{
    position: relative;
    transform: translateX(-100px);
}

.card-logo{
    position: absolute;
    top:16px;
    left:16px;
}

#number{
    position: absolute;
    color:white;
    bottom:80px;
    left:16px;
    letter-spacing: 2px;
}

.card-info{
    position: absolute;
    bottom:32px;
    left:16px;
    right:48px;
    display: flex;
    color: white;
    justify-content: space-between;
}

.black-card{
    position: relative;
}

#cvc{
    position: absolute;
    right:50%;
    bottom:50%;
    color:hsl(270, 3%, 87%) ;
}

.right-section{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%
}

.right-section form{
    display:grid;
    gap:1rem;
    width:350px;
    grid-template-columns: repeat(2,1 fr);
    grid-template-rows: repeat(4,1fr);
}

label{
    color:hsl(278, 68%, 11%);
    margin-bottom: 5px;
    text-transform: uppercase;
}

input{
    padding:8px;
    font-size:18px;
    border: 1px solid hsl(279, 6%, 55%);
    border-radius: 6px;
}

input::placeholder{
    font-family:inherit;
    color:hsl(279, 6%, 55%);
}

input::focus{
    outline-color: hsl(249, 99%, 64%);
}

.grid-1{
    display:flex;
    flex-direction:column;
    grid-column: 2 span;
}

.grid-2{
    display:flex;
    flex-direction:column;
    grid-column: 2 span;
}

.grid-3{
    display:flex;
    flex-direction:column;
}

.grid-4{
    display:flex;
    flex-direction:column;
    grid-column: 1 span;
    
}

.card-info{
    display: flex;
    grid-column: 2 span;
    gap: 16px;
}



#card-date div input{
    width: 70px;
    margin-inline: 8px;
    margin-left: 0;
}

#card_cvc{
    width:100%;
}

form button{
    grid-column: 2 span;
    font-size: 18px;
    height: 50px;
    color: white;
    border-radius: 6px;
    background-color: hsl(278, 68%, 11%) ;
    cursor: pointer;
}

.thanks{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.thanks p{
    font-size: 18px;
    color: hsl(279, 6%, 55%);
}

.thanks button{
    color: white;
    width:100%;
    border-radius: 6px;
    padding:16px;
    font-size: 18px;
    background-color:hsl(278, 68%, 11%)  ;
    cursor: pointer;
}

#card-date{
    display:flex;
    flex-direction: column;
    grid-column: 1 span;
    position: absolute;
    bottom: 400%;
    left:42%;
}

#card-date .two-inp{
    display:flex
}

.two-inp div{
    flex-direction: column;
}

/* .two-inp{
    position: absolute;
    left:45%;
    bottom:350%;
} */

#submit-btn{
    position: absolute;
    bottom:30%;
    width:20%;
}